
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Rajdhani:wght@300&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rajdhani', sans-serif; */
*{
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;

}
.container-fluid{
  margin: 1.5rem 0;
}
.row{
  padding: 1rem;
}
.form-control {
width: 100% !important;
}
.otpSearchbar{
  margin: 1rem 0;
}